@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #f2f2f2;
  color: #323;
  font-family: "Nunito";
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50px;
  left: 0;
  /*transform: translateX(-130%);
  transition: all 0.2s;*/
}

.btn {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-top: 50px;
  position: relative;
  cursor: pointer;
}

.btn span {
  position: absolute;
  top: 9px;
  width: 20px;
  background-color: black;
  height: 2px;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  background-color: black;
  height: 2px;
}

.btm::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 20px;
  background-color: black;
  height: 2px;
}


.menu.active {
  transform: translateX(0);
}


.blur {
  width: 100vw;
  height: 100vh;
  left: 30%;
  position: absolute;
}

.menu__content {
  width: 30%;
  height: 100%;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

.menu__content a {
  color: blue;
}

.menu__header {
  padding: 10px;
  font-size: 1.5rem;
  color: white;
  border-bottom: 1px solid white;
  width: 100%;
  text-align: center;
}

ul li {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  margin: 10px 0;
}

ul {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.material-icons {
  color: white;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .menu__content {
    width: 100%;
  }
}